* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-color: #0d0d0d;
    color: white;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url("https://wallpapercave.com/wp/wp2757874.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

.overlay h1 {
    font-size: 60px;
    letter-spacing: 4px;
}

.overlay p {
    margin: 20px 0;
    font-size: 20px;
}

.overlay button {
    padding: 12px 25px;
    border: none;
    background: #f1c40f;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.overlay button:hover {
    background: orange;
}

/* Crew Section */
.crew {
    padding: 80px 20px;
    text-align: center;
}

.crew h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.crew-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.bounty-card {
    background: #1a1a1a;
    width: 260px;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
}

.bounty-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.bounty-card h3 {
    margin: 15px 0 5px 0;
}

.bounty-card p {
    margin-bottom: 20px;
    color: #f1c40f;
}

.bounty-card:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.8);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
}

